<div class="row mt-3">
    <div class="col">
        <section class="card border-0 shadow-sm bg-white" aria-label="Education, honors, and work experience">
            <div class="card-body p-4">
                <div class="row experience-grid">
                    {% if site.data.profile.education %}
                    <div class="col-md-6">
                        <div class="mx-2 my-1">
                            <h6>Education</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in site.data.profile.education %}
                                <li class="media experience-item mb-2">
                                    {% if item.logo %}
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" class="experience-logo mr-2 mt-1">
                                    {% endif %}
                                    <div class="media-body">
                                        <div>{{ item.name }}</div>
                                        <div class="small text-muted">{{ item.dept }}</div>
                                        <div class="small d-flex experience-detail">
                                            <div>{{ item.position }}</div>
                                            <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>

                            {% if site.data.profile.awards %}
                            <div class="education-awards mt-4 pt-3 border-top border-gray">
                                <h6>Honors &amp; Awards</h6>
                                <ul class="list small pl-3 mb-0 honors-list">
                                    {% for item in site.data.profile.awards %}
                                    <li>
                                        <div class="d-flex">
                                            <div>{{ item.name }}</div>
                                            <div class="ml-auto mt-auto no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}

                    {% if site.data.profile.experience %}
                    <div class="col-md-6">
                        <div class="mx-2 my-1">
                            <h6>Work Experience</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in site.data.profile.experience %}
                                <li class="media experience-item mb-2">
                                    {% if item.logo %}
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" class="experience-logo mr-2 mt-1">
                                    {% else %}
                                    <span class="experience-logo-placeholder mr-2 mt-1" aria-hidden="true"><i class="fas fa-building"></i></span>
                                    {% endif %}
                                    <div class="media-body">
                                        <div>{{ item.name }}</div>
                                        {% if item.dept %}<div class="small text-muted">{{ item.dept }}</div>{% endif %}
                                        <div class="small d-flex experience-detail">
                                            <div>{{ item.position }}</div>
                                            <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
</div>
